@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,900&family=Roboto+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040404;
  color: white;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
